In [1]:
from math import radians, cos, sin, asin, sqrt, ceil, floor
from scipy.interpolate import griddata
from scipy import ndimage

import pandas as pd
import scipy
import matplotlib.pyplot as plt
import numpy as np
import json
import re

In [2]:
df = pd.read_csv('Crime_Data_from_2010_to_Present.csv')

In [3]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [4]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [5]:
#drop columns irrelevant to our data analysis
drop_cols = [
    'DR_NO',
    'Date Rptd',
    'AREA ',
    'Rpt Dist No',
    'Part 1-2',
    'Crm Cd',
    'Premis Cd',
    'Premis Desc',
    'Weapon Used Cd',
    'Weapon Desc',
    'Mocodes',
    'Vict Age',
    'Vict Sex',
    'Vict Descent',
    'Status',
    'Status Desc',
    'Crm Cd 1',
    'Crm Cd 2',
    'Crm Cd 3',
    'Crm Cd 4',
    'Cross Street',
    'LOCATION',
]

df = df.drop(drop_cols, axis=1)
df.columns

Index(['DATE OCC', 'TIME OCC', 'AREA NAME', 'Crm Cd Desc', 'LAT', 'LON'], dtype='object')

In [6]:
df.head()

,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,LAT,LON
0,02/20/2010 12:00:00 AM,1350,Newton,VIOLATION OF COURT ORDER,33.9825,-118.2695
1,09/12/2010 12:00:00 AM,45,Pacific,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",33.9599,-118.3962
2,08/09/2010 12:00:00 AM,1515,Newton,OTHER MISCELLANEOUS CRIME,34.0224,-118.2524
3,01/05/2010 12:00:00 AM,150,Hollywood,VIOLATION OF COURT ORDER,34.1016,-118.3295
4,01/02/2010 12:00:00 AM,2100,Central,"RAPE, ATTEMPTED",34.0387,-118.2488

In [7]:
# clean up date occurred to only contain month/day/year
temp = df['DATE OCC'].str.split(' ',n = 1, expand = True)
temp2 = temp[0]
df['DATE OCC'] = temp2

In [8]:
df.head()

,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,LAT,LON
0,02/20/2010,1350,Newton,VIOLATION OF COURT ORDER,33.9825,-118.2695
1,09/12/2010,45,Pacific,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",33.9599,-118.3962
2,08/09/2010,1515,Newton,OTHER MISCELLANEOUS CRIME,34.0224,-118.2524
3,01/05/2010,150,Hollywood,VIOLATION OF COURT ORDER,34.1016,-118.3295
4,01/02/2010,2100,Central,"RAPE, ATTEMPTED",34.0387,-118.2488

In [10]:
df['Crm Cd Desc'].unique()

array(['VIOLATION OF COURT ORDER',
       'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
       'OTHER MISCELLANEOUS CRIME', 'RAPE, ATTEMPTED',
       'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
       'BURGLARY FROM VEHICLE',
       'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
       'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
       'BATTERY - SIMPLE ASSAULT', 'ROBBERY', 'BOMB SCARE',
       'CHILD NEGLECT (SEE 300 W.I.C.)',
       'INTIMATE PARTNER - AGGRAVATED ASSAULT',
       'INTIMATE PARTNER - SIMPLE ASSAULT',
       'THEFT PLAIN - PETTY ($950 & UNDER)',
       'CRIMINAL THREATS - NO WEAPON DISPLAYED', 'ATTEMPTED ROBBERY',
       'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 'BURGLARY', 'ARSON',
       'RAPE, FORCIBLE', 'BRANDISH WEAPON',
       'THROWING OBJECT AT MOVING VEHICLE',
       'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
       'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
       'SHOTS FIRED AT INHABITED DWELLING',
       'THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)',
       'VEHICLE - STOLEN', 'KIDNAPPING - GRAND ATTEMPT',
       'CRIMINAL HOMICIDE', 'THEFT PLAIN - ATTEMPT', 'THEFT, PERSON',
       'TRESPASSING', 'KIDNAPPING', 'VEHICLE - ATTEMPT STOLEN',
       'BATTERY WITH SEXUAL CONTACT', 'DOCUMENT FORGERY / STOLEN FELONY',
       'BATTERY POLICE (SIMPLE)',
       'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
       'DISTURBING THE PEACE', 'OTHER ASSAULT',
       'VIOLATION OF RESTRAINING ORDER', 'LEWD CONDUCT',
       'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
       'THEFT OF IDENTITY',
       'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
       'CHILD ANNOYING (17YRS & UNDER)',
       'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
       'ORAL COPULATION', 'CRUELTY TO ANIMALS',
       'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
       'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD', 'PEEPING TOM',
       'INDECENT EXPOSURE', 'BIKE - STOLEN',
       'BURGLARY FROM VEHICLE, ATTEMPTED', 'BURGLARY, ATTEMPTED',
       'STALKING', 'THREATENING PHONE CALLS/LETTERS',
       'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
       'BUNCO, PETTY THEFT', 'VIOLATION OF TEMPORARY RESTRAINING ORDER',
       'BUNCO, GRAND THEFT', 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
       'SEXUAL PENETRATION W/FOREIGN OBJECT', 'EXTORTION', 'PICKPOCKET',
       'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'PURSE SNATCHING',
       'WEAPONS POSSESSION/BOMBING', 'COUNTERFEIT',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER',
       'FALSE IMPRISONMENT', 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
       'DISCHARGE FIREARMS/SHOTS FIRED',
       'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400',
       'THEFT FROM PERSON - ATTEMPT', 'UNAUTHORIZED COMPUTER ACCESS',
       'PANDERING', 'PIMPING', 'DRUNK ROLL - ATTEMPT',
       'SHOPLIFTING - ATTEMPT', 'RESISTING ARREST',
       'DISHONEST EMPLOYEE - GRAND THEFT', 'RECKLESS DRIVING', 'PROWLER',
       'CREDIT CARDS, FRAUD USE ($950 & UNDER',
       'DOCUMENT WORTHLESS ($200.01 & OVER)', 'CHILD STEALING',
       'CONTEMPT OF COURT', 'CONSPIRACY',
       'THEFT FROM MOTOR VEHICLE - ATTEMPT', 'DRUNK ROLL',
       'BATTERY ON A FIREFIGHTER', 'ILLEGAL DUMPING', 'LYNCHING',
       'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
       'GRAND THEFT / INSURANCE FRAUD', 'BUNCO, ATTEMPT',
       'DISRUPT SCHOOL', 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
       'FALSE POLICE REPORT', 'PURSE SNATCHING - ATTEMPT',
       'BOAT - STOLEN',
       'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
       'DRIVING WITHOUT OWNER CONSENT (DWOC)', 'CONTRIBUTING',
       'FAILURE TO YIELD', 'TILL TAP - ATTEMPT', 'DRUGS, TO A MINOR',
       'INCITING A RIOT',
       'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
       'BRIBERY', 'LYNCHING - ATTEMPTED', 'TELEPHONE PROPERTY - DAMAGE',
       'CHILD ABANDONMENT', 'THEFT, COIN MACHINE - ATTEMPT',
       'DISHONEST EMPLOYEE - PETTY THEFT', 'PETTY THEFT - AUTO REPAIR',
       'BIGAMY', 'TILL TAP - PETTY ($950 & UNDER)',
       'TILL TAP - GRAND THEFT ($950.01 & OVER)',
       'DOCUMENT WORTHLESS ($200 & UNDER)', 'MANSLAUGHTER, NEGLIGENT',
       'PICKPOCKET, ATTEMPT', 'GRAND THEFT / AUTO REPAIR',
       'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'LEWD/LASCIVIOUS ACTS WITH CHILD', 'BIKE - ATTEMPTED STOLEN',
       'FAILURE TO DISPERSE',
       'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'CHILD PORNOGRAPHY',
       'ABORTION/ILLEGAL', 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
       'DISHONEST EMPLOYEE ATTEMPTED THEFT', 'TRAIN WRECKING',
       'BLOCKING DOOR INDUCTION CENTER',
       'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
       'VEHICLE - MOTORIZED SCOOTERS, BICYCLES, AND WHEELCHAIRS',
       'FIREARMS TEMPORARY RESTRAINING ORDER (TEMP FIREARMS RO)'],
      dtype=object)

In [13]:
# drop crimes that are not deemed threatening to civilians
drop_crimes = set([
    'ABORTION/ILLEGAL',
    'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
    'BIGAMY',
    'BLOCKING DOOR INDUCTION CENTER',
    'BOAT - STOLEN',
    'CONSPIRACY',
    'CREDIT CARDS, FRAUD USE ($950 & UNDER',
    'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
    'CONTEMPT OF COURT',
    'CONTRIBUTING',
    'COUNTERFEIT',
    'CRUELTY TO ANIMALS',
    'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER',
    'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400',
    'DISHONEST EMPLOYEE - GRAND THEFT',
    'DISHONEST EMPLOYEE - PETTY THEFT',
    'DISHONEST EMPLOYEE ATTEMPTED THEFT',
    'DOCUMENT FORGERY / STOLEN FELONY',
    'DOCUMENT WORTHLESS ($200 & UNDER)',
    'DOCUMENT WORTHLESS ($200.01 & OVER)',
    'DRIVING WITHOUT OWNER CONSENT (DWOC)',
    'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
    'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
    'FAILURE TO YIELD',
    'FALSE IMPRISONMENT',
    'FALSE POLICE REPORT',
    'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
    'PANDERING',
    'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
    'TELEPHONE PROPERTY - DAMAGE',
    'THEFT OF IDENTITY',
    'UNAUTHORIZED COMPUTER ACCESS',
    'VIOLATION OF COURT ORDER',
    
])

df = df[~df['Crm Cd Desc'].isin(drop_crimes)]

In [27]:
#merging latitude and longitude into new column `COORDS`

df['COORDS'] = list(zip(df['LAT'],df['LON']))
df.drop(columns = ['LAT','LON'], axis = 1)

,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,COORDS
1,09/12/2010,45,Pacific,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...","(33.9599, -118.3962)"
2,08/09/2010,1515,Newton,OTHER MISCELLANEOUS CRIME,"(34.0224, -118.2524)"
4,01/02/2010,2100,Central,"RAPE, ATTEMPTED","(34.0387, -118.2488)"
5,01/04/2010,1650,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),"(34.048, -118.2577)"
6,01/07/2010,2005,Central,BURGLARY FROM VEHICLE,"(34.0389, -118.2643)"
7,01/08/2010,2100,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT","(34.0435, -118.2427)"
8,01/09/2010,230,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT","(34.045, -118.264)"
9,01/06/2010,2100,Central,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...","(34.0538, -118.2488)"
10,01/14/2010,1445,Central,BATTERY - SIMPLE ASSAULT,"(34.064, -118.2375)"
11,01/14/2010,2000,Central,ROBBERY,"(34.035, -118.2386)"
12,01/15/2010,245,Central,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...","(34.0409, -118.2609)"
13,01/15/2010,1745,Central,BOMB SCARE,"(34.0502, -118.25399999999999)"
14,01/15/2010,2030,Central,ROBBERY,"(34.0515, -118.2424)"
15,01/16/2010,1735,Central,OTHER MISCELLANEOUS CRIME,"(34.0389, -118.255)"
16,01/23/2010,1225,Central,CHILD NEGLECT (SEE 300 W.I.C.),"(34.0401, -118.2668)"
17,01/23/2010,1100,Central,ROBBERY,"(34.0428, -118.2461)"
18,01/23/2010,2000,Central,INTIMATE PARTNER - AGGRAVATED ASSAULT,"(34.0545, -118.2499)"
19,01/26/2010,1820,Central,ROBBERY,"(34.0563, -118.2374)"
20,01/28/2010,2345,Central,INTIMATE PARTNER - SIMPLE ASSAULT,"(34.0502, -118.25399999999999)"
21,01/29/2010,1630,Central,BURGLARY FROM VEHICLE,"(34.0454, -118.236)"
22,01/31/2010,130,Central,THEFT PLAIN - PETTY ($950 & UNDER),"(34.0472, -118.2371)"
23,01/31/2010,1000,Central,BATTERY - SIMPLE ASSAULT,"(34.0382, -118.2665)"
24,01/31/2010,1700,Central,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT","(34.0423, -118.2452)"
25,01/31/2010,2200,Central,INTIMATE PARTNER - SIMPLE ASSAULT,"(34.046, -118.2509)"
26,01/31/2010,1930,Central,BATTERY - SIMPLE ASSAULT,"(34.0461, -118.2476)"
27,01/31/2010,1720,Central,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...","(34.0437, -118.2652)"
28,02/03/2010,1255,Central,OTHER MISCELLANEOUS CRIME,"(34.0357, -118.2563)"
29,02/01/2010,1355,Central,CRIMINAL THREATS - NO WEAPON DISPLAYED,"(34.0394, -118.2405)"
30,02/05/2010,1425,Central,BATTERY - SIMPLE ASSAULT,"(34.0446, -118.245)"
31,02/06/2010,110,Central,BATTERY - SIMPLE ASSAULT,"(34.045, -118.264)"
...,...,...,...,...,...
2083160,02/25/2019,1300,Mission,"BUNCO, GRAND THEFT","(34.3275, -118.4298)"
2083161,06/29/2019,1800,Wilshire,BURGLARY,"(34.0398, -118.3697)"
2083162,02/19/2019,1200,Topanga,"BUNCO, GRAND THEFT","(34.201, -118.5943)"
2083163,04/26/2019,1515,Harbor,BATTERY - SIMPLE ASSAULT,"(33.723, -118.3129)"
2083164,01/10/2019,1900,Southeast,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"(33.9583, -118.2605)"
2083165,05/25/2019,630,Devonshire,VEHICLE - STOLEN,"(34.2376, -118.5947)"
2083166,08/26/2019,1745,Harbor,BATTERY - SIMPLE ASSAULT,"(33.7478, -118.2817)"
2083167,02/10/2019,2000,Southwest,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),"(34.0286, -118.32600000000001)"
2083168,05/28/2019,1700,Harbor,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,"(33.7547, -118.2967)"
2083170,09/27/2019,1200,77th Street,RESISTING ARREST,"(33.9661, -118.2849)"
2083171,04/22/2019,2200,Harbor,INTIMATE PARTNER - SIMPLE ASSAULT,"(33.7749, -118.275)"
2083172,06/15/2019,200,West LA,INTIMATE PARTNER - AGGRAVATED ASSAULT,"(34.0553, -118.3954)"
2083173,07/05/2019,400,Central,BURGLARY FROM VEHICLE,"(34.0674, -118.2476)"
2083174,05/06/2019,930,Northeast,BURGLARY,"(34.1109, -118.2464)"
2083176,01/12/2019,1620,Hollenbeck,ROBBERY,"(34.0401, -118.2106)"
2083177,07/17/2019,2030,Southeast,CHILD STEALING,"(33.9424, -118.2477)"
2083178,02/20/2019,1200,Wilshire,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"(34.0478, -118.3459)"
2083179,05/12/2019,10,Southeast,THEFT PLAIN - PETTY ($950 & UNDER),"(33.9469, -118.2772)"
2083180,10/06/2019,1,Southwest,INTIMATE PARTNER - SIMPLE ASSAULT,"(34.0073, -118.3182)"
2083181,03/08/2019,1200,Pacific,THEFT PLAIN - PETTY ($950 & UNDER),"(34.0204, -118.4139)"
2083182,01/20/2019,2000,Southeast,CRIMINAL THREATS - NO WEAPON DISPLAYED,"(33.9348, -118.25)"
2083183,02/28/2019,700,Newton,VEHICLE - STOLEN,"(33.9788, -118.2739)"
2083184,02/23/2019,2220,Van Nuys,ROBBERY,"(34.2085, -118.4553)"
2083185,02/22/2019,840,Harbor,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,"(33.7257, -118.2801)"
2083186,01/22/2019,1835,Newton,BATTERY - SIMPLE ASSAULT,"(34.0035, -118.2691)"
2083187,03/28/2019,400,Hollywood,ARSON,"(34.0962, -118.34899999999999)"
2083188,08/14/2019,1810,Wilshire,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),"(34.0871, -118.3732)"
2083189,01/06/2019,2100,Olympic,CRIMINAL THREATS - NO WEAPON DISPLAYED,"(34.0637, -118.287)"
2083190,10/16/2019,1800,Devonshire,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),"(34.2266, -118.5085)"
2083191,02/01/2019,1615,West LA,BURGLARY FROM VEHICLE,"(34.042, -118.4531)"